h1{
  font-weight: bold;
}
.btn-primary {
  background-color: #73E2A7;
  color: #E8FFEF;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  &:hover{
    background-color: #1C7C54;
  }
}
