<section class="container">
  <div class="about container-fluid d-flex flex-wrap justify-content-evenly align-items-center  mx-0 px-5">
    <div class="d-flex justify-content-start ">
      <div class="d-flex  ">
          <div>
          <h1>Julián Cabrera</h1>
          <h2>Software Engineer</h2>
          <p>Hi there! I'm Julian, a passionate software engineering student with a strong foundation in financial services and a deep enthusiasm for technology.</p>
          <p>Now, I'm excited to pivot my career towards the software industry. I believe that software engineering is the driving force behind today's technological advancements, and I'm eager to contribute my skills and knowledge to this dynamic field.</p>
          <button class="btn btn-primary " (click)="downloadCV()">Dowloand CV</button>
        </div>
      </div>
    </div>
    <div class="welcoming ">
      <img src="assets/svg/undraw_welcoming_re_x0qo.svg" alt="Contact svg">
    </div>
  </div>
</section>
