<section class="container ">
  <div class="container-fluid d-flex justify-content-center align-items-center mx-0 px-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-9 aboutContainer">
          <h2 class="big-heading">Julián Cabrera.</h2>
          <h3 class="big-heading">I build things for the web.</h3>
          <p>Hi there! I'm a passionate software engineering student with a strong foundation in financial services and a deep enthusiasm for technology.</p>
          <p>Now, I'm excited to pivot my career towards the software industry. I believe that software engineering is the driving force behind today's technological advancements, and I'm eager to contribute my skills and knowledge to this dynamic field.</p>
          <button class="btn btn-primary " (click)="downloadCV()">Dowloand CV</button>
        </div>
      </div>
    </div>

</section>
