<section style="height: inherit">
  <div class="container-fluid my-5 mx-0 px-5">
    <div class="row d-flex justify-content-center">
      <div class="col-9">
        <h1>Julián Cabrera</h1>
        <h2>Software Engineer</h2>
        <p>Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercit.</p>
        <button class="btn btn-primary">Dowloand CV</button>
      </div>
    </div>
  </div>
</section>
