
<div class="container-fluid">
  <footer id="foot" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <ul class="nav col-md-4 justify-content-start">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tech">Tech stack</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
    <span>Julian Cabrera 2024</span>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <div class=" d-flex align-items-center">
          <img class="graph" src="https://i.imgur.com/V5yCXse.png">
        </div>
      </li>
      <li class="ms-3">
        <div class="foot copied-message-container">
          @if (isCopied){<span class="copied-message py-1 px-2">Copied!</span>}
        </div>
        <a class="text-muted email" (click)="copyEmail()"  >
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="https://github.com/JulianCenfotec">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/esjuliancabrera/">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
