
<div class="container-fluid">
  <footer id="foot" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <ul class="nav col-md-4 justify-content-start">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <span>©  Julian Cabrera 2024</span>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <div class=" d-flex align-items-center">
          <img class="graph" src="../../../assets/img/4.png">
        </div>
      </li>
      <li class="ms-3">
        <a class="text-muted email" (click)="copyEmail()"  >
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="https://github.com/JulianCenfotec">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/esjuliancabrera/">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
