<section class="gray">
  <div class="container-fluid mx-0 py-5 px-5">
    <div class="row d-flex justify-content-center flex-wrap">
      <div class="col-sm-9 col-11">
        <h2>Projects</h2>
        <div class="mt-4 d-flex gap-3 flex-lg-nowrap flex-wrap">
          @for (project of projects; track project.title){
            <div class="card mb-3">
              <img [src]="project.img" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{project.description}}</p>
                <ul class="used-items">
                  @for (tech of project.techs; track tech){
                    <li class="used-item">{{ tech }}</li>
                  }
                </ul>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>

