<section class="gray">
  <div class="container-fluid my-5 mx-0 p-5">
    <div class="row d-flex justify-content-center">
      <div class="col-9">
        <div class="d-flex justify-content-evenly gap-2 align-items-center flex-wrap" >
          <div class="card col-lg-3 d-flex flex-column justify-content-start align-items-center gap-2 p-2 mb-2 align-self-md-stretch">
            <div class="card-title" >Mision</div>
            <div class="card-text"  >Demostrar mis habilidades y experiencia en desarrollo de software a través de un portafolio atractivo y profesional, con el objetivo de obtener mi primer trabajo en la industria.</div>
          </div>
          <div class="card col-lg-3 d-flex flex-column justify-content-start align-items-center gap-2 p-2 mb-2 align-self-md-stretch">
            <div class="card-title" >Vision</div>
            <div class="card-text" >Convertirme en un desarrollador de software reconocido por mi capacidad para crear productos innovadores y de alta calidad, aportando valor a las empresas y organizaciones con las que colaboro.</div>
          </div>
          <div class="card col-lg-3 col-12 d-flex flex-column justify-content-start align-items-center gap-2 p-2 mb-2 align-self-md-stretch">
            <div class="card-title" >Valores</div>
            <div class="card-text" >Tolerancia<br/>Gratitud<br/>Paciencia</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
