<section class="gray">
  <div class="container-fluid my-5 mx-0 p-5">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-9 col-11">
        <div class="d-flex justify-content-between gap-2 align-items-center flex-wrap" >
          <div class="card col-lg-3 d-flex flex-column justify-content-start align-items-center gap-2 p-3 mb-2 align-self-md-stretch">
            <div class="card-title" >Mision</div>
            <div class="card-text"  >To demonstrate my skills and experience in software development through an attractive and professional portfolio, with the goal of securing my first job in the industry.</div>
          </div>
          <div class="card col-lg-3 d-flex flex-column justify-content-start align-items-center gap-2 p-3 mb-2 align-self-md-stretch">
            <div class="card-title" >Vision</div>
            <div class="card-text" >To become a software developer recognized for my ability to create innovative, high-quality products, adding value to the companies and organizations I collaborate with.</div>
          </div>
          <div class="card col-lg-3 col-12 d-flex flex-column justify-content-start align-items-center gap-2 p-3 mb-2 align-self-md-stretch">
            <div class="card-title" >Valores</div>
            <div class="card-text" >Tolerance<br/>Gratitude<br/>Patience</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
